# ----------------------------------------------------
# BASH Configuration Command Aliases
# ----------------------------------------------------

# Make the terminal better
alias ls='ls -GFh'                          # Preferred 'ls' implementation
alias lsc='ls'                              # Common typo when typing 'ls' then 'cd'
alias l='ls'
alias la='ls -a'
alias ll='ls -l'
alias lla='ls -la'
alias cp='cp -iv'                           # Preferred 'cp' implementation
alias mv='mv -iv'                           # Preferred 'mv' implementation
alias mkdir='mkdir -pv'                     # Preferred 'mkdir' implementation
alias rm='rm -iv'                           # Preferred 'rm' implementation
alias less='less -FSRXc'                    # Preferred 'less' implementation
alias grep='grep --color'                   # Preferred 'grep' implementation
alias cd..='cd ../'                         # Go back 1 directory level
alias ..='cd ../'                           # Go back 1 directory level
alias ...='cd ../'                          # Go back 2 directory levels
alias .2='cd ../../'                        # Go back 2 directory levels
alias .3='cd ../../../'                     # Go back 3 directory levels
alias .4='cd ../../../../'                  # Go back 4 directory levels
alias .5='cd ../../../../../'               # Go back 5 directory levels
alias .6='cd ../../../../../../'            # Go back 6 directory levels
alias cx='chmod +x'                         # Shorthand for adding executable permissions

alias path='echo -e ${PATH//:/\\n}'         # path:         Echo all executable Paths
alias show_options='shopt'                  # show_options: Display bash options settings
alias fix_stty='stty sane'                  # fix_stty:     Restore terminal settings when screwed up
mcd () { mkdir -p "$1" && cd "$1"; }        # mcd:          Makes new Dir and jumps inside
ql () { qlmanage -p "$*" >& /dev/null; }    # ql:           Opens any file in MacOS Quicklook Preview
trash () { command mv "$@" ~/.Trash ; }     # trash:        Moves a file to the MacOS trash

# Git aliases
# Remove `+` and `-` from start of diff lines; just rely upon color.
alias gd='git diff --color'

alias gc='git clone'
alias gs='git status'
alias gss='git status -s'
alias gad='git add'
alias ga='git add -A'
alias gau='git add -u'
alias gcp='git checkout --patch'
alias gcf='git clean -f'
alias grh='git reset HEAD'
alias gca='git commit -a'
alias gcm='git commit -m'
alias gp='git push origin HEAD'

alias gb='git branch'
alias gco='git checkout'
alias glog="git log --graph --pretty=format:'%Cred%h%Creset %an: %s - %Creset %C(yellow)%d%Creset %Cgreen(%cr)%Creset' --abbrev-commit --date=relative"

# Personal aliases
alias p='python2.7'
alias p3='python3'
alias subl='/Applications/Sublime\ Text.app/Contents/SharedSupport/bin/subl .'
alias octave='/usr/local/bin/octave'

alias proj='cd ~/GoogleDrive/projects/'
alias cal='cd ~/GoogleDrive/Cal/'
alias desk='cd ~/Desktop/'

alias int='cd ~/GoogleDrive/projects/interview/'
alias intpy='int; cd python'
alias ct='cp ~/GoogleDrive/projects/interview/python/_TODO/template.py'
